@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  /* background-color: #fff; */
  @apply text-black bg-gradient-to-r from-sky-500 to-indigo-500;
} 
input{outline: none;}
.app{
  display: flex;
  flex-direction: column;
}